<footer>
    <!-- <div class="newsletter-area">
        <div class="container">
            <img src="assets/img/home-one/newsletter.png" alt="Shape">
            <h2>Subscribe Newsletter</h2>

            <form class="newsletter-form">
                <input type="email" class="form-control" placeholder="Enter Your Email" name="EMAIL" required autocomplete="off">
                <button class="btn contact-btn" type="submit">Subscribe</button>
            </form>
        </div>
    </div> -->

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="footer-item">
                    <div class="footer-logo">
                        <a routerLink="/"> Krishna & Co.</a>
                        <!-- <img src="assets/img/logo.jpeg" alt="Logo" style="height: 50px;width: 150px;"> -->
                       
                        <p>Our Team of Advocates are always here to provide you the best and efficient service. Still,
                            if you want to know more about us and our firm, you can connect us through social media.</p>
                        <!-- <ul> -->
                        <!-- <li><a href="https://www.youtube.com/" target="_blank"><i class="icofont-youtube-play"></i></a></li> -->
                        <!-- <li><a href="https://www.facebook.com/" target="_blank"><i class="icofont-facebook"></i></a></li> -->
                        <!-- <li><a href="https://www.instagram.com/" target="_blank"><i class="icofont-instagram"></i></a></li> -->
                        <!-- <li><a href="https://www.twitter.com/" target="_blank"><i class="icofont-twitter"></i></a></li> -->
                        <!-- </ul> -->
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-service">
                        <h3>Services</h3>

                        <ul>
                            <li *ngFor="let item of practices"><a  (click)="goToDetails(item)"><i
                                        class="icofont-simple-right"></i> {{item.practiceArea}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-2">
                <div class="footer-item">
                    <div class="footer-service">
                        <h3>Quick Links</h3>

                        <ul>
                            <li><a routerLink="/"><i class="icofont-simple-right"></i> Home</a></li>
                            <li><a routerLink="about"><i class="icofont-simple-right"></i> About Us</a></li>
                            <!-- <li><a routerLink="blog"><i class="icofont-simple-right"></i> Blog</a></li> -->
                            <li><a routerLink="attorney"><i class="icofont-simple-right"></i>Our Team</a></li>
                            <li><a routerLink="practice"><i class="icofont-simple-right"></i>Practice</a></li>
                            <li><a routerLink="gallery"><i class="icofont-simple-right"></i>Gallery</a></li>
                            <li><a routerLink="contact"><i class="icofont-simple-right"></i>Contact Us</a></li>
                            <!-- <li><a routerLink="testimonial"><i class="icofont-simple-right"></i> Testimonial</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-find">
                        <h3>Find Us</h3>

                        <ul>
                            <li><i class="icofont-location-pin"></i>Ch No. 141, New Lawyer's Chamber,<br>M.C Setalvad
                                Block, Supreme Court, New Delhi - 110001</li>
                            <li><i class="icofont-location-pin"></i>Office : 533, 1<sup>st</sup> Floor, Sector 22A,
                                Gurugram-122017</li>
                        </ul>
                        <br>
                        <ul>
                            <li><i class="icofont-ui-call"></i><a href="tel:+911244303228">01244303228</a></li>
                            <li><i class="icofont-ui-call"></i><a href="tel:9999256022">9999256022</a></li>
                            <li><i class="icofont-at"></i><a
                                    href="mailto:himanshu_adv10@yahoo.com">himanshu_adv10@yahoo.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright-area">
            <div class="row">
                <div class="col-sm-7 col-lg-6">
                    <div class="copyright-item">
                        <p>Powered By : <a>Tech Desk India Pvt. Ltd.</a>
                        </p>
                    </div>
                </div>

                <div class="col-sm-5 col-lg-6">
                    <div class="copyright-item copyright-right">
                        <a routerLink="/terms-conditions" target="_blank">Terms & Conditions</a> <span>-</span>
                        <a routerLink="/privacy-policy" target="_blank">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>