<div class="page-title-area title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Practices</h2>

                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li>Practices</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="practice-area practice-area-three pt-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4" *ngFor="let item of practices">
                <div class="practice-item">
                    <div class="practice-icon">
                        <i class="flaticon-law"></i>
                    </div>
                    <h3>{{item.practiceArea}}</h3>
                    <p>{{item.overview}}</p>
                    <a (click)="goToDetails(item)">Read More</a>
                    <img class="practice-shape-one" src="assets/img/home-one/7.png" alt="Shape">
                    <img class="practice-shape-two" src="assets/img/home-one/8.png" alt="Shape">
                </div>
            </div>
        </div>
    </div>
</section>