<div class="page-title-area title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Practice Details</h2>

                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li>Practice Details</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="practice-details-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="practice-details-item">
                    <div class="blog-details-category">
                        <ul>
                            <li *ngFor="let item of practices"><a (click)="details(item)">{{item.practiceArea}}<i class="icofont-arrow-right"></i></a></li>
                        </ul>
                    </div>

                    <div class="practice-details-contact">
                        <h3>Contact Info</h3>
                        <ul>
                            <li><i class="flaticon-call"></i><a href="tel:+911244303228">01244303228</a></li>
                            <li><i class="flaticon-call"></i><a href="tel:9999256022">9999256022</a></li>
                            <li><i class="flaticon-email"></i><a href="mailto:himanshu_adv10@yahoo.com">himanshu_adv10@yahoo.com</a></li>
                        </ul>
                        <ul>
                            <li>Ch No. 141, New Lawyer's Chamber,<br>M.C Setalvad Block, Supreme Court</li>
                            <li>Office : 533, 1<sup>st</sup> Floor, Sector 22A, Gurugram-122017</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="practice-details-item">
                    <div class="practice-details-content">
                        <div class="section-title text-start">
                            <h2>{{practiceDetail?.practiceArea}}</h2>
                        </div>
                        <p style="text-align: justify;">{{practiceDetail?.description}}</p>
                    </div>
                </div>         
            </div>

          
        </div>
    </div>

    <div class="help-shape">
        <img src="assets/img/home-one/6.png" alt="Shape">
    </div>
</div>