<div class="page-title-area title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Attorney Details</h2>

                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li>Attorney Details</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="attorney-details pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="attor-details-item">
                    <img src="{{attorneyDetail.image}}" alt="Details" height="500px" width="500px">

                    <div class="attor-details-left">
                        <div class="attor-social-details">
                            <ul>
                                <li><i class="flaticon-email"></i> <a href="mailto:hello@lufz.com">{{attorneyDetail.email}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="attor-details-item">
                    <div class="attor-details-right">
                        <div class="attor-details-name">
                            <h2>{{attorneyDetail.employeeName}}</h2>
                            <span>{{attorneyDetail.designation}}</span>
                        </div>

                        <div class="attor-details-things">
                            <h3>Biography</h3>
                            <p>{{attorneyDetail.expertise}}</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>