<div class="navbar-area fixed-top">

    <div class="mobile-nav">
        <a routerLink="/" class="logo">
            <img src="assets/img/logo.png" alt="Logo">
        </a>
    </div>

    <div class="main-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" routerLink="/">
                    <img src="assets/img/logo.png" alt="Logo">
                </a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                       
                        <li class="nav-item"><a routerLink="/home-three" class="nav-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">{{'NAVBAR.HOME.TITLE'| translate}}</a></li>


                        <li class="nav-item"><a routerLink="/about" class="nav-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">{{'NAVBAR.ABOUTUS.TITLE' | translate}}</a>
                        </li>

                        <li class="nav-item"><a routerLink="/attorney" class="nav-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">{{'NAVBAR.OURTEAM.TITLE' | translate}}</a>
                        </li>
                       
                        <li class="nav-item"><a routerLink="/practice" class="nav-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">{{'NAVBAR.PRACTICE.TITLE' | translate}}</a>
                        </li>

                        <li class="nav-item"><a routerLink="gallery" class="nav-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">{{'NAVBAR.GALLERY.TITLE' | translate}}</a>
                        </li>
                        <li class="nav-item"><a routerLink="contact" class="nav-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">{{'NAVBAR.CONTACTUS.TITLE' | translate}}</a>
                        </li>
                    </ul>

                    <!-- <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="true">
                                    {{selectedLanguage}}
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark"
                                    aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li><a class="dropdown-item" *ngFor="let item of languages"
                                            (click)="selectLanguage(item)">{{item.languageName}}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div> -->

                </div>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="true">
                                {{selectedLanguage}}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" *ngFor="let item of languages"
                                        (click)="selectLanguage(item)">{{item.languageName}}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>